@import "tailwindcss";
@import "@vscode/codicons/dist/codicon.css";
@import "./animations.css";
/* app/globals.css */

/* Set up fallbacks just in case, though Next.js will load the JS instantly */
:root {
  --background: #1e1e1e;
  --surface: #252526;
  --surface-elevated: #2d2d30;
  --border: #3e3e42;
  --accent: #007acc;
  --accent-elevated: #1f8ad2;
  --foreground: #d4d4d4;
  --muted-foreground: #808080;
  --highlight-1: #c792ea;
  --highlight-2: #89ddff;
  --highlight-3: #c3e88d;
}

body {
  font-size: 14px;
  font-family: var(--font-jetbrains-mono, sans-serif); /* Use the CSS variable for font */
  color: var(--foreground);
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .thin-scrollbar {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
  }

  .thin-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 0.6);
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: rgba(177, 16, 16, 0.643);
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(177, 16, 16, 0.643);
    border-radius: 9999px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(14, 255, 54, 0.643);
  }
}